@page "/"

<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Добро пожаловать в Онлайн магазин. Рекомендуем перейти в <a href="/catalog" style="color:blue">каталог товаров</a> </MudText>